<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<h2 mat-dialog-title>Set Appointment</h2>
<mat-dialog-content class="mat-typography">
  <div class="w-full md:flex mb-1">
    <div class="w-full md:w-1/2">  <h3>Organization Name  : <b>{{this.data.customer.orgName+' ( '+this.data.customer.fullName+' )  '}} </b> . </h3>
    </div>
    <div class="w-full md:w-1/2"><h3>Customer Phone : <b>{{'+251- '+this.data.customer.phone}} </b> . </h3>
    </div>
  </div>
  <hr >
  
  <mat-form-field class="w-full mt-2">
    <textarea matInput 
       placeholder="Comment" 
      required
       #assignProfessionals>
    </textarea>
  </mat-form-field> 

  <mat-form-field class="w-full mt-2" >
    <mat-label> Select A Status </mat-label>
    <mat-select [disabled]="isLoading" #phase [placeholder]="(this.data.customer.phase!='-')?this.data.customer.phase:'Select A Status'" [value]="this.data.customer.phase">

      <mat-option
          
        *ngFor="let options of phases"
        [value]="options?.phaseTitle"
        
      >
        {{ options?.phaseTitle }}
      </mat-option>
      <mat-option
          
      value="Assigned"
      
    >
      Assigned
    </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Choose appointment date</mat-label>
    <input matInput [matDatepicker]="datepicker" [value]="this.data.customer?.date" #appointmentDate />
    <mat-hint *ngIf="this.data.customer?.date=='-'">MM/DD/YYYY</mat-hint>
    <mat-hint *ngIf="this.data.customer?.date!='-'"><b> Previously Selected Date: {{this.data.customer?.date}}</b></mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="datepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>
          Apply
        </button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>


        

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
  type="submit"
    [disabled]="!phase.value||!appointmentDate.value"
    mat-raised-button
    [mat-dialog-close]="true"
    color="primary"
    (click)="setAppointement(this.data.customer,phase.value,appointmentDate.value,assignProfessionals.value)"
  >
    Set Appointment
  </button>
</mat-dialog-actions>
