<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <main id="content" role="main" class="w-full max-w-md mx-auto p-6">
    <div class="mt-7 bg-white rounded-xl shadow-lg">
      <div class="p-4 sm:p-7">
        <div class="text-center">
          <h1 class="block text-2xl font-bold text-gray-800">
            Forgot password?
          </h1>
          <p class="mt-2 text-sm text-gray-600">
            Remember your password?
            <a
              class="text-blue-600 decoration-2 hover:underline font-medium"
              routerLink="/login"
            >
              Login here
            </a>
          </p>
        </div>

        <div class="mt-3">
          <form>
            <div class="grid gap-y-4 mb-3">
              <div class="mb-2">
                <label for="email" class="block text-sm font-bold ml-1 mb-2"
                  >Email address</label
                >
                <div class="relative">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm"
                    required
                    aria-describedby="email-error"
                    #passwordResetEmail
                  />
                </div>
                <p class="hidden text-xs text-red-600 mt-2" id="email-error">
                  Please include a valid email address so we can get back to you
                </p>
              </div>
              <a
                
                class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-lightBlue-400 text-white hover:bg-lightBlue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm"
                (click)="authService.ForgotPassword(passwordResetEmail.value)"
              >
                Reset password
            </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <p
      class="mt-3 flex justify-center items-center text-center divide-x divide-gray-300"
    >
      <a
        class="pr-3.5 inline-flex items-center gap-x-2 text-sm text-gray-600 decoration-2 hover:underline hover:text-blue-600"
        routerLink="/login"
            >
        Go Back
      </a>
      <a
        class="pl-3 inline-flex items-center gap-x-2 text-sm text-gray-600 decoration-2 hover:underline hover:text-blue-600"
        href="#"
      >
        Contact us!
      </a>
    </p>
  </main>
</div>
